<br \>
<b>Questions:</b>
<br \>

<% @book.questions.each do |q| %>
	<h3><%= q.question %></h3>
	<br \> 
	<%= link_to "Submit an Answer", book_question_path(@book.id, q.id), :class => "btn  primary" %>
	Or
	<%= link_to "Review Answers", book_question_answers_path(@book.id, q.id), :class => "btn" %>
	<br \>
	<br \>  
<% end %> 
