

<div class= "jobtitle"> <%= @job.name %> </div>


<% @job.questions.each do |q| %>
<div class= "jobquestions"><%= q.question %>
</div>
	<%= link_to "Submit an Answer", job_question_path(@job.id, q.id), :class => "btn  primary" %>
	Or
	<%= link_to "Review Answers", job_question_answers_path(@job.id, q.id), :class => "btn" %>
<% end %> 
