
<h1>Find the best answers for the most challenging interview questions....</h1>
<% @answers.each do |answer| %>
<div class= "answersindexquestion">
	<%= answer.id %>. )
	Question: <%= answer.question.question %> |
	</div>
	<div class= "answersindexanswer">
	Answer: <%= answer.answer %>
	</div>
	<div class= "rateanswer"><%= link_to "Rate this Answer", :controller => "answers", :action => "show", :id => answer.id %></div>
<% end %>
</div>