
<div class= "answersindexheader"> 
Find the best answers for the most challenging interview questions....
</div>

<% @answers.each do |answer| %>

<div class= "answersindexcontainer">
<div class= "one">
	<%= answer.id %>. )
	Question: <%= answer.question.question %> 
</div>
<div class= "two">
<b>Answer:</b> <%= answer.answer %>
	</div>
<div class= "three"><%= link_to "Rate this Answer", :controller => "answers", :action => "show", :id => answer.id %></div>
</div>
<% end %>

