<div class="about top_padding">
	<h1>About.</h1>

	<h3>What is Preptly?</h3>

	<p>Preptly is an easy to use interview prep tool.</p>

	<h3>What can I do on Preptly?</h3>

	<p>Currently, the main feature is the ability to create a study guide for 						your upcoming interview. We will be adding some awesome features shortly, but we wanted to get this product out as soon as possible so everyone can use it. If you have any suggestions as to what would improve your interview prep process, please let us know!
	</p>

	<h3>Why did you create Preptly?</h3>

	<p>Upon entering the job market we realized that there are many interview preparation tools, but none that would help you with the actual questions. We know that the key to an interview is having quality answers prepared and practiced, so we set out to create a tool that will help you do that.	
	</p>

	<h3>Where do you get your questions from?</h3>

	<p>We curate our questions from a range of resources, including job professionals, interviewers, interviewees, head hunters and human resource departments within each industry.
	</p>

	<h3>Will you be adding more jobs?</h3>

	<p>Definitely! We wanted to start with a wide selection of general jobs, but as we continue to grow we will be adding more specific titles. If you have a specific job in mind, please let us know and we would be happy to create it for you.
	</p>


	<br \>
	<br \>
	Thank you for using our site and we hope to hear from you soon.
	<br \>
	<br \>
	Sincerely,
	<br \>
	The Preptly Team
	</p>
</div>