                                                                                                             
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Preptly</title>
	
	<%= stylesheet_link_tag 'landing' %>
	<%= yield :landing_page %>
	<!--[if IE]>
	   <style type="text/css">
	       #pager { padding-left: 20px }
	       #pager li { float:left }
	   </style>
	<![endif]-->
	<%= stylesheet_link_tag 'style', :media => "all" %>
	<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="js/jquery.cycle.all.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/cufon-yui.js"></script>
	<script type="text/javascript" src="js/PT_Sans.font.js"></script> 
	<script type="text/javascript" src="js/custom.js"></script>
	<script type="text/javascript">
	Cufon.replace('h2');       
</script> 
